<div class="d-flex justify-content-center">
    <a id="btn-cart-back" class="w-50 mb-3 text-decoration-none link-hover-danger pointer">
        <i class="fa-regular fa-chevron-left"></i> Quay lại</a>
</div>

<div class="d-flex justify-content-center">
    <div class="bg-white rounded w-50">
        <div id="cart-status" class="row text-center m-2 p-3 bg-danger-subtle rounded">
            <div class="col-3 cart-status-item active">
                <i class="fa-solid fa-basket-shopping"></i>
                <p class="text-nowrap mt-1">Giỏ hàng</p>
            </div>
            <div class="col-3 cart-status-item">
                <i class="fa-solid fa-address-card"></i>
                <p class="text-nowrap mt-1">Thông tin đặt hàng</p>
            </div>
            <div class="col-3 cart-status-item">
                <i class="fa-solid fa-credit-card"></i>
                <p class="text-nowrap mt-1">Thanh toán</p>
            </div>
            <div class="col-3 cart-status-item">
                <i class="fa-solid fa-shield-check"></i>
                <p class="text-nowrap mt-1">Hoàn tất</p>
            </div>
        </div>

        <turbo-frame id="cart-container" class="p-4 pb-0 d-block">

            {{!-- Cart order --}}
            <div id="cart-order">
                {{#if cart}}
                {{#each cart}}
                <div class="row" data-cart="{{this.CartId}}" data-prod="{{this.Id}}">
                    <div class="col-2">
                        <div class="border rounded p-1">
                            <img src="{{this.Image}}" class="w-100">
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="d-flex flex-column justify-content-between w-100 h-100">
                            <strong>{{this.ProdName}}</strong>

                            <button class="btn btn-sm btn-light border mt-1 w-25"
                                onclick="deleteCartItem({{this.CartId}})">
                                <i class="fa-regular fa-trash-can"></i> Xoá
                            </button>
                        </div>
                    </div>
                    <div class="col-3">
                        <p class="cart-order-price text-danger fs-5 fw-bold text-end">{{formatNumToCurrency
                            this.FinalPrice}}₫</p>
                        <p class="text-decoration-line-through text-muted text-end">{{formatNumToCurrency this.Price}}₫
                        </p>
                        <div class="d-flex justify-content-end">
                            <div class="input-group input-group-sm input-group-number flex-nowrap w-75">
                                <button class="btn border fw-bold text-center" onclick="handleCartOrder(100)"
                                    style="width: 30px;">-</button>
                                <input type="number" readonly
                                    class="cart-order-quantity form-control no-focus text-center"
                                    value="{{this.CartQuantity}}" min="1" max="10">
                                <button class="btn border fw-bold text-center" onclick="handleCartOrder(100)"
                                    style="width: 30px;">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <p class="mb-3 fw-bold">Giỏ hàng của bạn đang trống</p>
                    <a href="/" target="_top" class="btn btn-outline-primary mb-2 w-50">Tiếp tục mua hàng</a>
                </div>
                {{/if}}
            </div>

            {{!-- Cart info --}}
            <div id="cart-info" class="d-none">
                <p class="fs-5 fw-bold mb-3">Địa chỉ nhận hàng</p>

                <div class="mb-3">
                    {{#if address}}
                    {{#each address}}
                    <div class="cart-info input-group rounded flex-nowrap" tabindex="-1">
                        <div class="input-group-text">
                            <input id="cart-address{{this.Id}}" name="cart-info-address" type="radio"
                                value="{{this.Id}}" class="form-check-input pointer" {{#if
                                this.IsDefault}}checked{{/if}}>
                        </div>
                        <label for="cart-address{{this.Id}}" class="ps-2 border p-2 w-100 rounded-end pointer">
                            <strong>
                                <span class="cart-info-name">{{this.FullName}}</span> -
                                <span class="cart-info-phone">{{this.PhoneNumber}}</span>
                            </strong>
                            <p class="cart-info-address text-muted text-line-1">{{this.AddressLine}}</p>
                        </label>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="text-danger">
                        <p class="fw-bold text-center mb-2">Chưa có địa chỉ nhận hàng?</p>
                        <div class="d-flex justify-content-center">
                            <a href="/tai-khoan#dia-chi" target="_top" class="btn btn-sm btn-primary"
                                style="width: 31%;">+Thêm
                                ngay</a>
                        </div>
                    </div>
                    {{/if}}
                </div>

                <div class="form-outline mb-3">
                    <input id="cart-info-note" type="text" class="form-control"
                        placeholder="Lưu ý, yêu cầu khác (Không bắt buộc)">
                    <label>Lưu ý, yêu cầu khác (Không bắt buộc)</label>
                </div>

                <div class="mb-3">
                    <p class="fw-bold fs-5">Dịch vụ giao hàng</p>
                    <div class="d-flex">
                        <input type="radio" checked class="form-check-input">
                        <label class="ms-2 d-flex justify-content-between w-100">
                            <span>Miễn phí vận chuyển (Giao hàng tiêu chuẩn)</span>
                            <span>0₫</span>
                        </label>
                    </div>
                </div>


            </div>

            {{!-- Cart pay--}}
            <div id="cart-pay" class="d-none">
                <p class="fs-5 fw-bold mb-3">Thông tin đặt hàng</p>

                <ul>
                    <li>
                        <div class="d-flex mb-2">
                            <span class="fw-bold" style="flex: 1;">Khách hàng:</span>
                            <span id="cart-pay-name" class="text-muted" style="flex: 2; font-weight: 600"></span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex mb-2">
                            <span class="fw-bold" style="flex: 1;">Số điện thoại:</span>
                            <span id="cart-pay-phone" class="text-muted" style="flex: 2; font-weight: 600"></span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex mb-2">
                            <span class="fw-bold" style="flex: 1;">Địa chỉ nhận hàng:</span>
                            <span id="cart-pay-address" class="text-muted" style="flex: 2; font-weight: 600"></span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex mb-2">
                            <span class="fw-bold" style="flex: 1;">Lưu ý của khách hàng:</span>
                            <span id="cart-pay-note" class="text-muted" style="flex: 2; font-weight: 600"></span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex mb-2">
                            <span class="fw-bold" style="flex: 1;">Tạm tính:</span>
                            <span id="cart-pay-price" class="text-danger" style="flex: 2; font-weight: 600"></span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex mb-2">
                            <span class="fw-bold" style="flex: 1;">Phí vận chuyển:</span>
                            <span class="text-muted" style="flex: 2; font-weight: 600">Miễn phí</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex mb-2">
                            <span class="fw-bold" style="flex: 1;">Tổng tiền:</span>
                            <span id="cart-pay-total" class="text-danger" style="flex: 2; font-weight: 600"></span>
                        </div>
                    </li>
                </ul>

                <hr>

                <div class="mb-3">
                    <p class="fw-bold fs-5">Chọn hình thức thanh toán</p>
                    <div class="d-flex">
                        <input type="radio" checked class="form-check-input">
                        <label class="ms-2">Thanh toán khi giao hàng (COD)</label>
                    </div>
                </div>


            </div>

            {{!-- Cart complete --}}
            <div id="cart-complete" class="d-none">
                <div class="bg-success-subtle text-success fw-bold fs-5 p-3 text-center rounded mb-3">
                    <i class="fa-solid fa-box-check"></i>
                    Đặt hàng thành công
                </div>

                <p class="fw-bold mb-3">Cảm ơn quý khách đã cho chúng tôi có cơ hội phục vụ quý khách.<br>
                    Nhân viên của chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất.</p>

                <div class="bg-secondary-subtle rounded p-3">
                    <ul class="m-0">
                        <li>
                            <div class="d-flex mb-2">
                                <span class="fw-bold" style="flex: 1;">Khách hàng:</span>
                                <span id="cart-complete-name" class="text-muted"
                                    style="flex: 2;font-weight: 600"></span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex mb-2">
                                <span class="fw-bold" style="flex: 1;">Số điện thoại:</span>
                                <span id="cart-complete-phone" class="text-muted"
                                    style="flex: 2;font-weight: 600"></span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex mb-2">
                                <span class="fw-bold" style="flex: 1;">Email:</span>
                                <span class="text-muted" style="flex: 2;font-weight: 600">{{user.Email}}</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex mb-2">
                                <span class="fw-bold" style="flex: 1;">Giao đến:</span>
                                <span id="cart-complete-address" class="text-muted"
                                    style="flex: 2;font-weight: 600"></span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex mb-2">
                                <span class="fw-bold" style="flex: 1;">Lưu ý:</span>
                                <span id="cart-complete-note" class="text-muted"
                                    style="flex: 2;font-weight: 600"></span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex mb-2">
                                <span class="fw-bold" style="flex: 1;">Tổng tiền:</span>
                                <span id="cart-complete-total" class="text-danger"
                                    style="flex: 2;font-weight: 600"></span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex mb-2">
                                <span class="fw-bold" style="flex: 1;">Hình thức thanh toán:</span>
                                <span class="text-muted" style="flex: 2;font-weight: 600">Thanh toán khi nhận hàng
                                    (COD)</span>
                            </div>
                        </li>
                    </ul>
                    <a href="/tai-khoan#don-hang" class="btn btn-outline-info bg-info-subtle w-100 fw-bold p-2">Quảng lý
                        đơn hàng</a>
                </div>

                <a href="/" class="btn btn-outline-primary w-100 fw-bold mt-3 mb-3 p-2 border-2">Tiếp tục mua hàng</a>
            </div>

        </turbo-frame>

        <div id="cart-footer">
            <hr class="m-4">

            <div class="fw-bold p-4 pt-0">
                <div class="d-flex justify-content-between mb-2">
                    <p>Phí vận chuyển:</p>
                    <p>Miễn phí</p>
                </div>

                <div class="d-flex justify-content-between">
                    <p class="fs-5">Tổng tiền:</p>
                    <p id="cart-total-price" class="text-danger fs-4">26.490.000₫</p>
                </div>

                <button id="btn-cart-order" class="btn btn-danger mt-4 p-3 w-100 fw-bold">ĐẶT HÀNG NGAY</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/home.js"></script>